<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Accueil{% endblock %}</title>

    {% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('tickets') }}">Billets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#informations">information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('contact') }}">Contact</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block header %}
<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Musée du Louvre</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Billeterie en ligne</h2>
            <a href="{{ path('tickets') }}" class="btn btn-primary js-scroll-trigger">Achat de billets</a>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
    <div class="jumbotron" mt-4 id="informations">

    <h5>
        Informations relativesss aux billets
        <br>
        <br>
    </h5>

    <p>Le musée du Louvre est ouvert tous les jours, sauf les mardis et quelques jours fériés
        (les 1er mai, 1er novembre et 25 décembre). Il est ouvert de 9h à 18h, jusqu'à 21h45
        les jeudis et vendredis. La fermeture des salles débute à 17h30 et à 21h30 les jeudis et vendredis.</p>

    <p>Pour votre visite, deux types de billets vous sont proposés :
    <ul>
        <li>un billet « Journée »</li>
        <li>un billet « Demi-journée ». Il vous permet d’entrer dans l’établissement à partir de 14h.</li>
    </ul>
    </p>

    <p>Plusieurs tarifs sont disponibles :
    <ul>
        <li>16 €, tarif « normal » à partir de 12 ans</li>
        <li>12 €, tarif « senior » à partir de 60 ans</li>
        <li>10 €, tarif « réduit » accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère
            de la Culture, militaire…)</li>
        <li>8 €, tarif « enfant » à partir de 4 ans et jusqu’à 12 ans</li>
        <li>Gratuit pour les enfants de moins de 4 ans</li>
    </ul>
    </p>

    <p>Le billet acheté en ligne est nominatif. Un document d’identité peut vous
        être demandé à votre arrivée. Il est uniquement valable pour la prestation commandée en ligne.</p>

    </div>

{% endblock %}

{% block footer %}

Copyright Musée du Louvre

{% endblock %}