{% extends "base.html.twig" %}

{% block title %}
    Identification des visiteurs
{% endblock %}


{% block body %}
    <div class="jumbotron">


        {{ form_start(form) }}

        {{ form_end(form) }}
        <input type="submit" class="btn btn btn-primary" value="Procédez au paiement">
        <br/>


    </div>
{% endblock %}