{% extends "base.html.twig" %}

{% block title %}
    Identification des visiteurs
{% endblock %}


{% block body %}
    <div class="jumbotron">
        <div class="table-responsive-lg">
            <table class="table">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% for fcustomer in form.customer %}

                    {{ form_widget(fcustomer) }}
                    <hr>
                {% endfor %}
                <input type="submit" class="btn btn btn-primary" value="Suivant">
                {{ form_end(form) }}
            </table>
        </div>
    </div>

{% endblock %}