{% extends "base.html.twig" %}

{% block title %}
    Récapitulatif
{% endblock %}


{% block body %}
<div class="jumbotron">

    <h2>Récap commande</h2>
    <br/>

    <p>euros</p>
    <input type="submit" class="btn btn btn-primary" value="Valider">




</div>
{% endblock %}