{% extends "base.html.twig" %}

{% block title %}
    Récapitulatif
{% endblock %}


{% block body %}
<div class="jumbotron">

    <h2>Récapitulatif de la commande</h2>
    <br/>
    <h6>Merci d'avoir passer commande auprès du musée du Louvre. Pour information, voici le détail de votre commande que nous vous conseillons de vérifier avant de procéder au paiement.</h6>
    <br>
    <h6>Montant total de la commande :</h6>

    <p>{{ totalprice }} €</p>
    <br>
    <br>

    <a class="btn btn-primary" href="{{ path ('payment') }}" role="button">poursuivre vers le paiement</a>






</div>
{% endblock %}