{% extends "base.html.twig" %}

{% block title %}
    Contact
{% endblock %}


{% block body %}
    <link rel="stylesheet" href="assets/css/contact.css">
    <div class="jumbotron" >
        Page contact
    </div>

{% endblock %}