{# template/Frontend/index.html.twig#}

{% extends "layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}

    <p>Le musée du Louvre est ouvert tous les jours, sauf les mardis et quelques jours fériés
        (les 1er mai, 1er novembre et 25 décembre). Il est ouvert de 9h à 18h, jusqu'à 21h45
        les jeudis et vendredis. La fermeture des salles débute à 17h30 et à 21h30 les jeudis et vendredis.</p>

    <p>Pour votre visite, deux types de billets vous sont proposés :
    <ul>
        <li>un billet « Journée »</li>
        <li>un billet « Demi-journée ». Il vous permet d’entrer dans l’établissement à partir de 14h.</li>
    </ul>
    </p>

    <p>Plusieurs tarifs sont disponibles :
    <ul>
        <li>16 €, tarif « normal » à partir de 12 ans</li>
        <li>12 €, tarif « senior » à partir de 60 ans</li>
        <li>10 €, tarif « réduit » accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère
            de la Culture, militaire…)</li>
        <li>8 €, tarif « enfant » à partir de 4 ans et jusqu’à 12 ans</li>
        <li>Gratuit pour les enfants de moins de 4 ans</li>
    </ul>
    </p>

    <p>Le billet acheté en ligne est nominatif. Un document d’identité peut vous
        être demandé à votre arrivée. Il est uniquement valable pour la prestation commandée en ligne.</p>

    <button>Achetez vos billets</button>

{% endblock %}