{% extends "base.html.twig" %}

{% block title %}
    Paiement
{% endblock %}


{% block body %}
    <div class="jumbotron" mt-4>
        <h2>Paiement</h2>

        <br/>
        <script src="https://js.stripe.com/v3/"></script>

        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button class="btn btn btn-primary">Valider le paiement</button>
        </form>

    </div>

{% endblock %}