{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}


{% block body %}
    <div class="jumbotron" mt-4>
        <h2> Page confirmation du paiement</h2>

    </div>

{% endblock %}