{% extends "base.html.twig" %}

{% block title %}
    Confirmation du paiement
{% endblock %}


{% block body %}
    <div class="jumbotron" mt-4>
        <h2> Page confirmation du paiement</h2>
        <br>
        <br>
        <h4>
            Bravo !!! votre paiement a été validé. Vous recevrez vos billets par emails ou vous pouvez vous présenter à l'entrée  du musée et présenter le QR Code ci-dessous.


        </h4>
    </div>

{% endblock %}